<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zykj.cloud.mapper.AnswersheetMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zykj.cloud.entity.Answersheet">
        <id column="id" property="id" />
        <result column="sno" property="sno" />
        <result column="qid" property="qid" />
        <result column="FindexPoint" property="FindexPoint" />
        <result column="SindexPoint" property="SindexPoint" />
        <result column="score" property="score" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sno, qid, FindexPoint, SindexPoint, score
    </sql>

</mapper>
