<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zykj.cloud.mapper.IndexPointMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zykj.cloud.entity.IndexPoint">
        <id column="id" property="id" />
        <result column="year" property="year" />
        <result column="major" property="major" />
        <result column="indexPointDot" property="indexPointDot" />
        <result column="indexPointDotMsg" property="indexPointDotMsg" />
        <result column="courseName" property="courseName" />
        <result column="qz" property="qz" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, year, major, indexPointDot, indexPointDotMsg, courseName, qz
    </sql>

</mapper>
